:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* 
  this the new css 
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family-inter: "Inter", sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.two-cols {
  display: grid;
  grid-template-columns: 185px 1fr;
  gap: 24px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.lable-box label {
  font-weight: 800;
  color: #fff;
  text-align: right;
  font-size: 16px;
  display: block;
}

.pricing-header {
  background: #282828;
  background-image: radial-gradient(
    50.31% 82.33% at 68.26% 77.78%,
    rgba(7, 182, 191, 0.2) 0%,
    rgba(7, 182, 191, 0) 100%
  );
  padding: 54px 0px 61px;
  width: "100%";
}

.section-header {
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 42px;
  margin-top: 0;
  text-align: center;
  letter-spacing: 1px;
}

.section-header-desc {
  max-width: 1076px;
  color: #fff;
  font-weight: 400;
  margin: 0 auto 25px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 117px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .two-cols {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .lable-box label {
    text-align: left;
  }

  .section-header-desc {
    font-size: 16px;
  }
}

.pricing-row {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  /* gap: 50px; */
}

.section-container {
  max-width: 1320px;
  width: 100%;
  margin-inline: auto;
}

@media screen and (max-width: 991.99px) {
  .pricing-row {
    grid-template-columns: 1fr;
  }

  .section-container {
    margin-top: 3rem;
    max-width: 95%;
  }
}

.left-col {
}

.right-col {
}

.proxy_side {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  gap: 16px;
}

.btn-proxy {
  background: #f6f7fb;
  border: 1px solid #f0f1f5;
  border-radius: 8px;
  color: #282828;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: linear 0.3s;
  font-size: 14px;
  line-height: 20px;
  padding: 9px 16px;
  cursor: pointer;
}

.btn-proxy.active {
  background: linear-gradient(
      0deg,
      rgba(7, 182, 191, 0.2),
      rgba(7, 182, 191, 0.2)
    ),
    #ffffff;
  border: 1px solid rgba(7, 182, 191, 0.3);
  color: #07b6bf;
}

.proxy_box {
  display: flex;
  padding-bottom: 35px;
  flex-wrap: wrap;
  /* gap: 16px; */
  margin-top: 20px;
}

.inner_proxy_box {
  padding-right: 52px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #ffffff;
}

[type="radio"]:checked + label {
  color: #07b6bf;
  font-weight: 700;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  background: #ffffff00;
}

[type="radio"]:checked + label:before {
  border: 2px solid #07b6bf;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 9px;
  height: 9px;
  background: #07b6bf;
  border: 2px solid #07b6bf;
  position: absolute;
  top: 3.7px;
  left: 4.5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.countries-dropdown-wrapper button {
  height: 40px;
  background: #ffffff;
  border: 1px solid #e4e5e9;
  border-radius: 8px;
  width: 274px;
  font-family: "Roboto", sans-serif;
  padding: 7px 12px;
  font-weight: 600;
  position: relative;
  font-size: 14px;
  line-height: 20px;
}

.countries-dropdown-wrapper ul {
  width: 100%;
  max-width: 274px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  height: 250px;
  margin-top: 0;
}

.countries-dropdown-wrapper .ReactFlagsSelect-module_selectValue__152eS,
.countries-dropdown-wrapper .ReactFlagsSelect-module_selectOption__3pcgW {
  font-family: "Roboto", sans-serif;
}

.countries-dropdown-wrapper .ReactFlagsSelect-module_selectValue__152eS {
  padding: 0;
}

.price-slider-range {
  margin-top: 30px;
}

.rc-slider {
  width: 60% !important;
}

.rc-slider-handle {
  border: 2px solid #07b6bf !important;
  background-color: #07b6bf !important;
  width: 15px !important;
  height: 15px !important;
}

.price-slider-range .price-slider {
  padding-left: 32px;
  padding-top: 60px;
}
.price-slider-range .rs-slider-bar {
  background-color: #cecece !important;
}

.price-slider-range .rs-slider-progress-bar {
  background-color: #07b6bf !important;
}

.price-slider-range .rs-slider-handle:before {
  border: 4px solid #07b6bf !important;
  height: 18px !important;
  margin-left: -9px !important;
  width: 18px !important;
  top: -3px;
}

.price-slider-range .rs-slider-handle:focus:before,
.price-slider-range .rs-slider-handle:hover:before {
  box-shadow: 0 0 0 8px rgba(7, 182, 191, 0.25) !important;
}

.price-slider-range .rs-slider-graduator > ol > li:before,
.price-slider-range .rs-slider-graduator > ol > li:after {
  display: none !important;
}

.price-slider-range .rs-slider-mark {
  left: -30px;
  position: absolute;
  top: -78px;
  white-space: nowrap;
}

.mark-label {
  position: relative;
}

.mark-label .duration {
  text-align: center;
  display: block;
  color: white;
  font-weight: 700;
  font-size: small;
  position: absolute;
  top: -80px;
  left: -30px;
}

.mark-label .discount {
  position: absolute;
  top: 10px;
  left: -23px;
  color: #ee3889;
  background-color: #ee38894d;
  border-radius: 4px;
  padding: 0px 4px;
  font-weight: 700;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  width: 50px;
}

.rc-slider-mark
  .rc-slider-mark-text-active:has(+ :not(.rc-slider-mark-text-active))
  .mark-label
  .duration {
  color: #07b6bf;
}

.rc-slider-mark .rc-slider-mark-text-active:last-child .mark-label .duration {
  color: #07b6bf;
}

.no-of-proxies {
  margin-top: 55px;
}

.no-of-proxies .content-box .proxy-input {
  width: 89px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  color: #282828;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  height: 40px;
  padding: 0 16px;
  outline: none;
  background-color: #fff;
}

.border-red {
  border: 2px solid #ff5252 !important;
}

.validation-error {
  font-size: 12px;
  color: #ff5252;
  margin-top: 4px;
}

.stats {
  margin-top: 23px;
}

.stats .stat-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding-right: 18px;
  display: inline-block;
  padding-bottom: 18px;
}

.stats .stat-item i {
  font-weight: 400;
}

.stats .stat-item .discount-value {
  color: #ee3889;
}

.price_info {
  color: #fff;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  margin-bottom: "1rem";
}

.price_info p {
  margin-bottom: 0;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.price_info a {
  color: #07b6bf;
  font-weight: 600;
}

.price_info a:hover {
  text-decoration: none;
  color: #07b6bf;
}

.right-col {
  position: relative;
}
.chart-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.chart-wrapper #chart {
  position: relative;
}

.chart-wrapper .chart-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.chart-wrapper .chart-content * {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.chart-wrapper .chart-content h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 53px;

  text-align: center;
  color: #07b6bf;
  text-align: center;
}

.chart-wrapper .chart-content h1 sup {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #fff;
}

.chart-wrapper .chart-content hr {
  width: 95px;
  height: 3px;
  background-color: rgb(180, 180, 180, 0.6);
  border-radius: 4px;
  border: none;
  margin-inline: auto;
}

.chart-wrapper .chart-content p {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  color: #fff;
  font-family: "Inter", sans-serif;
}

/* .chart-wrapper .chart-content .sub-content {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  gap: 24px;
  margin-bottom: 14px;
}

.chart-wrapper .chart-content .sub-content .divider {
  width: 1px;
  height: 52px;
  background-color: #fff;
  margin-top: 5px;
} */

.chart-wrapper .chart-content .chart-sub-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 14px;
}

.chart-wrapper .chart-content .chart-sub-content::before {
  content: "";
  align-self: stretch;
  border: 1px solid lightgrey;
}

.chart-wrapper .chart-content .chart-sub-content .col-1 {
  flex: 1;
  order: -1;
}

.chart-wrapper .chart-content .chart-sub-content .col-2 {
  flex: 1;
}

.chart-wrapper .chart-content .chart-sub-content .col-2 .radio-label {
  text-transform: capitalize;
  font-size: 14px;
}

.chart-wrapper .chart-content .country-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-top: 1rem;
}

@media screen and (max-width: 991.99px) {
  .chart-wrapper {
    position: unset;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-inline: auto;
  }
}

@media screen and (max-width: 599.99px) {
  .pricing-header {
    padding: 54px 0px 61px;
  }

  .section-container {
    margin-top: 3rem;
    max-width: 95%;
  }

  .section-header-desc {
    margin-bottom: 3rem;
  }

  .two-cols {
    grid-template-columns: 0.8fr;
    gap: 0;
  }

  .left-col {
    margin-bottom: 3rem;
  }

  .pricing-row {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 50px; */
  }

  .proxy_side {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap: 16px;
  }

  .chart-wrapper {
    max-width: 100%;
  }

  .apex-chart {
    transform: scale(1.3);
  }

  .chart-wrapper .chart-content h1 {
    font-size: 38px;
    line-height: 43px;
  }

  .chart-wrapper .chart-content p {
    font-size: 12px;
    line-height: 26px;
  }

  .chart-wrapper .chart-content .sub-content {
    margin-bottom: 4px;
  }

  .rc-slider {
    width: 100% !important;
  }

  .price_info p {
    margin-bottom: 0;
    text-align: center;
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 399.99px) {
  .apex-chart {
    transform: scale(1.5);
  }
}

.btn-primary-outline-hover {
  padding: 12px 20px;
  width: 248px;
  height: 52px;
  background: #07b6bf;
  font-family: var(--font-family-inter);
  border: 2px solid #07b6bf;
  border-radius: 4px;
  display: block;
  text-align: center;
  color: #fff !important;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 40px auto 0;
  text-decoration: none;
}

.btn-primary-outline-hover:hover {
  background-color: #282828;
  color: #07b6bf !important;
}

.testimonial-carousel-container {
  width: 100%;
  height: 100%;
  padding: 6rem 20rem;
}

.testimonial-carousel-sub-container {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-carousel-sub-container h2 {
  text-align: center;
  font-size: 40px;
  color: #000;
}

.testimonial-card-container {
  width: 100%;
}

.testimonial-card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 80% !important;
}

.slick-list {
  width: 650px !important;
  margin: auto !important;
}

.slick-slide div {
  display: flex;
  align-content: center;
  justify-content: center;
}

.testimonial-card-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 2rem 4rem 2rem;
}

.testimonial-image {
}

.testominal-content {
  flex-direction: column;
}

ul.button__bar {
  margin-top: 5rem;
}

.button__bar {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  background: transparent;
  border-radius: 40px;
  width: 150px;
  text-align: center;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: #bee2e8;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  background-color: #06b6bf;
}

.button__bar li button:hover,
.button__bar li button:focus {
  background: #06b6bf;
  outline: 0;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .testimonial-carousel-container {
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
  }

  .testimonial-carousel-sub-container {
    gap: 1rem;
  }

  .testimonial-carousel-sub-container h2 {
    text-align: center;
    font-size: 30px;
    color: #000;
  }

  .testimonial-card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    width: 80% !important;
  }

  .slick-list {
    width: 320px !important;
    margin: auto !important;
  }

  .slick-slide div {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .testimonial-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .testominal-content {
    flex-direction: column;
  }

  ul.button__bar {
    margin-top: 2rem;
  }
}

/**
  Navbar section styling
*/

.navbar-container {
  width: 100%;
  background-color: #7e7e7e !important;
  padding: 1rem 8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
}

.navbar-links-container h6 {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
  padding-bottom: 4px;
}

/* .navbar-links-container h6:hover {
  border-bottom: 1px solid #fff;

  transition: all 0.3s ease-in-out;
} */

.navbar-links-container h6:after {
  display: block;
  content: "";
  border-bottom: solid 2px #dbd7d7;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navbar-links-container h6:hover:after {
  transform: scaleX(1);
}

.navbar-trial-button {
  height: 40px;
  min-width: 130px;
  background-color: #07b6bf;
  text-transform: capitalize;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

.navbar-trial-button:hover {
  background-color: #fff;
  color: #07b6bf;
  border: 1px solid #07b6bf;
}

.chevron::before {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  display: inline-block;
  height: 0.55em;
  left: 0.2em;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 0.55em;
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

/* 
Media query for mobile screen

*/
